<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>

    <h1>New Author</h1>
    <form action="/author/create" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <input type="submit" value="Create">
    </form>
    <h1>All Authors</h1>
    <ul>
        {% for author in authors %}
            <a href="author/show/{{ author.id }}"><p>{{ author.name }}</p></a>
        {% endfor %}
    </ul>
    <a href="/books">Add Book</a>

</body>
</html>