<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>

    <h1>New Books</h1>
    <form action="/book/create" method="post">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title">
        <label for="num_of_pages">Number of Pages: </label>
        <input type="text" name="num_of_pages" id="num_of_pages">
        <input type="submit" value="Create">
    </form>
    <h1>All Books</h1>
    <ul>
        {% for book in books %}
            <a href="book/show/{{ book.id }}"><p>{{ book.title }}</p></a>
        {% endfor %}
    </ul>
    <a href="/">Home</a>

</body>
</html>