<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Show</title>
</head>
<body>

    <h1>{{ authors.name }}'s Favorites</h1>
    <table>
        <thead>
            <th>Title</th>
            <th># of Pages</th>
        </thead>
        <tbody>
            {% for book in authors.books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.num_of_pages }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Add Author's Favorite</h1>
    <label for="book_id">Book: </label>
    <select name="book_id">
        {% for book in authors.books %}
        <tr>
            <td></td>
            <option value="{{book.id}}">{{ book.title }}</option>
        </tr>
        {% endfor %}
    </select>

    <a href="/">Home</a>

</body>
</html>