<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>

    <h1>Dojo Survey</h1>
    <form action="/user_info" method="post">
        <label for="your_name">Your Name:</label>
            <input type="text" name="your_name">
        <p>Dojo Location:</p>
            <select name="location">
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
                <option value="Burbank">Burbank</option>
                <option value="Bellevue">Bellevue</option>
            </select>
        <p>Favorite Language:</p>
            <select name="language">
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Javascript">Javascript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
        <p>Comments:</p>
            <textarea name="comment">(Your Comment Here)</textarea>
        <input type="submit" value="button">
    </form>

</body>
</html>